body { background-color: #d5ddde;
color: #1b2726;
font-family: Cormorant Garamond;
text-align: left;
}

h1 { color: #1b2726;
font-family: Cormorant Garamond;
font-style: italic;
font-weight normal;
text_align: center;
}
