body { 
  width: 100%;
  background-color: #A5B7C1;
  color: #535D55;
  font-family: 'Cormorant Garamond', serif;
  text-align: left;
}

.small_box {
  background-color: #514644;
  color: #FFFFFF;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px;
  margin: 0px;
  width: 100%;
  height: auto;
}

footer {
  bottom: 0px;
  left: 0px;
  padding: 10px;
  margin: 0px;
  width: 100%;
  height: auto;
}
  
.big_box { 
   background-color: #DBDBE5;
}

#main_content {
  float: right;
  position: fixed;
  top: auto;
  right: 2%;
  padding: 10px;
  margin: 0px;
  width: 62%;
}

#side_bar {
  float: left;
  position: fixed;
  top: auto;
  left: 2%;
  padding: 10px;
  margin: 0px;
  width: 32%;
}

h1 { 
  color: #535D55;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: normal;
  text_align: center;
}

h2 { 
  color: #535D55;
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: 400;
  text_align: left;
}

p { 
  font-family: 'Proza Libre', sans-serif;
  color: #514644;
}

ul {
  list-style-type: none;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}
