body { background-color: #d5ddde;
color: #1b2726;
font-family: Cormorant Garamond;
text-align: left;
}

.resume_section { color: #3C5148;
font-family: Cormorant Garamond;
font-style: normal;
font-weight: 400;
text_align: left;
}
