body { 
  background-color: #A5B7C1;
  color: #535D55;
  font-family: 'Cormorant Garamond', serif;
  text-align: left;
}

.small_box {
  background-color: #514644;
  color: #FFFFFF;
}

.big_box { 
   background-color: #DBDBE5;
}

h1 { 
  color: #535D55;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: normal;
  text_align: center;
}

h2 { 
  color: #535D55;
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: 400;
  text_align: left;
}

p { 
  font-family: 'Proza Libre', sans-serif;
  color: #514644;
}

ul {
  list-style-type: none;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  text-decoration: none;
}
